<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <test verbose="2" preserve-order="true" name="Test1">
        <classes>
            <class name="Functionality.LoginValidation">
                <methods>
                    <include name="alternate_loginTest"/>
                    <include name="valid_loginTest"/>
                    <include name="invalid_loginTest"/>
                </methods>
            </class>
            <class name="Functionality.AddProduct">
                <methods>
                    <include name="addProducttocartTest"/>
                    <include name = "addCartTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>